/* ==========================================================================
   FLOATS
   ========================================================================== */


.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
