/* ==========================================================================
   SKINS
   ========================================================================== */


.blk {      color: $near-black; }
.dk-gry {   color: $dark-gray; }
.md-gry {   color: $mid-gray; }
.gray {     color: $gray; }
.silver  {  color: $silver; }
.lt-slvr {  color: $light-silver; }
.lt-gry {   color: $light-gray; }
.near-wht { color: $near-white; }
.wht {      color: $white; }
