/* ==========================================================================
   SPACING
   ========================================================================== */


/* Padding */

.pn { padding: 0; }
.ps { padding: .5rem; }
.pm { padding: 1rem; }
.pl { padding: 2rem; }
.px { padding: 4rem; }

.pln { padding-left: 0; }
.pls { padding-left: .5rem; }
.plm { padding-left: 1rem; }
.pll { padding-left: 2rem; }
.plx { padding-left: 4rem; }

.prn { padding-right: 0; }
.prs { padding-right: .5rem; }
.prm { padding-right: 1rem; }
.prl { padding-right: 2rem; }
.prx { padding-right: 4rem; }

.pbn { padding-bottom: 0; }
.pbs { padding-bottom: .5rem; }
.pbm { padding-bottom: 1rem; }
.pbl { padding-bottom: 2rem; }
.pbx { padding-bottom: 4rem; }

.ptn { padding-top: 0; }
.pts { padding-top: .5rem; }
.ptm { padding-top: 1rem; }
.ptl { padding-top: 2rem; }
.ptx { padding-top: 4rem; }

.pvn { padding: 0; }
.pvs { padding: .5rem 0; }
.pvm { padding: 1rem  0; }
.pvl { padding: 2rem  0; }
.pvx { padding: 4rem  0; }

.phn { padding: 0; }
.phs { padding: 0 .5rem; }
.phm { padding: 0 1rem; }
.phl { padding: 0 2rem; }
.phx { padding: 0 4rem; }


/* Margins */

.mn { margin: 0; }
.ms { margin: .5rem; }
.mm { margin: 1rem; }
.ml { margin: 2rem; }
.mx { margin: 4rem; }

.mln { margin-left: 0; }
.mls { margin-left: .5rem; }
.mlm { margin-left: 1rem; }
.mll { margin-left: 2rem; }
.mlx { margin-left: 4rem; }

.mrn { margin-right: 0; }
.mrs { margin-right: .5rem; }
.mrm { margin-right: 1rem; }
.mrl { margin-right: 2rem; }
.mrx { margin-right: 4rem; }

.mbn { margin-bottom: 0; }
.mbs { margin-bottom: .5rem; }
.mbm { margin-bottom: 1rem; }
.mbl { margin-bottom: 2rem; }
.mbx { margin-bottom: 4rem; }

.mtn { margin-top: 0; }
.mts { margin-top: .5rem; }
.mtm { margin-top: 1rem; }
.mtl { margin-top: 2rem; }
.mtx { margin-top: 4rem; }

.mvn { margin: 0; }
.mvs { margin: .5rem 0; }
.mvm { margin: 1rem  0; }
.mvl { margin: 2rem  0; }
.mvx { margin: 4rem  0; }

.mhn { margin: 0; }
.mhs { margin: 0 .5rem; }
.mhm { margin: 0 1rem; }
.mhl { margin: 0 2rem; }
.mhx { margin: 0 4rem; }
