/* ==========================================================================
   TYPE 

   - Fonts
   - Headers
   - Copy

   ========================================================================== */

.serif      { }
.sans-serif { } 

/* Headers
   ========================================================================== */

h1,.h1 { font-size: $font-size-1; }
h2,.h2 { font-size: $font-size-2; }
h3,.h3 { font-size: $font-size-3; }
h4,.h4 { font-size: $font-size-4; }
h5,.h5 { font-size: $font-size-5; }
h6,.h6 { font-size: $font-size-6; }


/* Copy
   ========================================================================== */

.intro {  font-size: $font-size-3;}
p {       font-size: $font-size-4;}



/* Casing
   ========================================================================== */

.caps-lock  { text-transform:uppercase; }
.title-casing { text-transform:capitalize; }



/* Tracking
   ========================================================================== */

.title      { letter-spacing:0.1em; text-transform:uppercase;}



/* Alignment
   ========================================================================== */

.ar         { text-align: right;  }
.al         { text-align: left;   }
.ac,
.ct         { text-align: center; }



/* Wrapping
   ========================================================================== */

.nw    { white-space:nowrap; }



/* Leading
   ========================================================================== */

.lh-1       { line-height:1; }
.lh-2       { line-height:2; }
.lh-title   { line-height:1.3; }
.lh-copy    { line-height:1.5; }


   

